.container{display: block;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  width: 800px;
  padding: 10px 40px;
  background: #d8cfd2;
  border: 0.1rem solid #d8cfd2;
  border-radius: 1rem;
  padding: 0.4em; 
  opacity: 0.9;

}

.App-header {
  text-align: center;
}
small{
  display: block;
  margin:0 auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
 width: 500px;
  padding: 10px 40px;
  background: #d8cfd2;
  border: 0.1rem solid #d8cfd2;
  border-radius: 1rem;
  padding: 0.4em; 
  opacity: 0.9;
}